@import '../../styles-global.scss';

.background-layout{
  height: 970px;
  background-image: url('../../assets/img/bg04.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-title {
  padding-top: 300px;
}

@media screen and (min-width: 750px) {
  .content-text {
    font-size: 1.2em;
    text-align: center;
  }
}
