<div class="white-header header-shadow">
  <!--<div class="row">-->
    <!--<div class="col-sm-3 row-style header-text"><a class="header-text" href="mailto:jason.j2ee.developer@gmail.com">Email</a><span class="tooltiptext">jason.j2ee.developer@gmail.com</span></div>-->
    <!--<div class="col-sm-3 row-style header-text"><a class="header-text" target="_blank" href="https://www.linkedin.com/in/jasonwangjavadeveloper">LinkedIn</a><span class="tooltiptextlink">https://www.linkedin.com/in/jasonwangjavadeveloper</span></div>-->
    <!--<div class="col-sm-3 row-style header-text"><a class="header-text" target="_blank" href="https://www.flickr.com/photos/jasonwimage">Flickr</a><span class="tooltiptextlink">https://www.flickr.com/photos/jasonwimage</span></div>-->

    <!--&lt;!&ndash;<div class="col-sm-2 row-style header-text">{{headerModel.email}}</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-sm-3 row-style header-text">{{headerModel.linkedin}}</div>&ndash;&gt;-->
    <!--<div class="col-sm-3 row-style header-text">{{headerModel.phone}}</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-sm-12 row-style header-text">
      <a class="header-text" href="mailto:jason.j2ee.developer@gmail.com">Email</a><span class="tooltiptext">jason.j2ee.developer@gmail.com</span>
      <a class="header-text" target="_blank" href="https://www.linkedin.com/in/jasonwangjavadeveloper">LinkedIn</a><span class="tooltiptextlink">https://www.linkedin.com/in/jasonwangjavadeveloper</span>
    <a class="header-text" target="_blank" href="https://www.flickr.com/photos/jasonwimage">Flickr</a><span class="tooltiptextlink">https://www.flickr.com/photos/jasonwimage</span>
    {{headerModel.phone}}
    </div>
  </div>

</div>
