<div class="white-header header-shadow">
  <div class="row">
    <div class="col-sm-3 row-style header-text"><a class="header-text" href="mailto:jason.j2ee.developer@gmail.com">Email</a><span class="tooltiptext">jason.j2ee.developer@gmail.com</span></div>
    <div class="col-sm-3 row-style header-text"><a class="header-text" target="_blank" href="https://www.linkedin.com/in/jasonwangjavadeveloper">LinkedIn</a><span class="tooltiptextlink">https://www.linkedin.com/in/jasonwangjavadeveloper</span></div>
    <div class="col-sm-3 row-style header-text"><a class="header-text" target="_blank" href="https://www.flickr.com/photos/jasonwimage">Flickr</a><span class="tooltiptextlink">https://www.flickr.com/photos/jasonwimage</span></div>

    <!--<div class="col-sm-2 row-style header-text">{{headerModel.email}}</div>-->
    <!--<div class="col-sm-3 row-style header-text">{{headerModel.linkedin}}</div>-->
    <div class="col-sm-3 row-style header-text">{{headerModel.phone}}</div>
  </div>
</div>
