<div class="background-layout">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8"><i class="material-icons">email</i> <span class="footer-text">jason.j2ee.developer@gmail.com</span></div>
      <div class="col-sm-2"></div>
    </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><i class="material-icons">phone_iphone</i> <span class="footer-text">416-6024916</span></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><i class="material-icons">cloud_download</i> <span><a class="footer-text" href="../../assets/cv/Jason_Wang_Full-Stack_Developer_cv_2019.doc">Download Resume</a></span></div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8"><i class="material-icons">link</i> <span class="footer-text">https://jason-w-cv.herokuapp.com</span></div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <a data-original-title="LinkedIn" rel="tooltip" href="https://www.linkedin.com/in/jasonwangjavadeveloper" class="btn btn-linkedin" data-placement="left">
        <i class="fa fa-linkedin"></i>
      </a><span class="footer-text">https://www.linkedin.com/in/jasonwangjavadeveloper</span>
    </div>
    <div class="col-sm-2"></div>
  </div>

</div>
