@import '../../styles-global.scss';

.background-layout{
  //  margin-top: 73px;
  height: 970px;
  //  background-image: url('../../assets/img/bg01.jpg');
  background-image: url('../../assets/img/bg04.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

