@import '../../styles-global.scss';


.background-layout{
  // height: 970px;
  background-image: url('../../assets/img/mobile1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  max-width: 100%;
  color: #ffffff;
  // color: rgba(0,0,0,.87);
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.3;
  //text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
  //10px 20px 5px rgba(0,0,0,0.05),
  //-10px 20px 5px rgba(0,0,0,0.05);
}

.desc-text{
  max-width: 100%;
  color: #d9d9d9;
  // color: rgba(0,0,0,.87);
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 0.75em;
  font-weight: 200;
  line-height: 1.3;

}

.row-space{
  padding-bottom: 100px;
}

.project-space {
  padding-bottom: 20px;
}

mat-expansion-panel{
  // opacity: 0.3;
  // background: red;
  background-image: url('../../assets/img/bg04.jpg');

}

mat-panel-description{
  color: #d9d9d9;
}

//mat-panel-title{
//  color: #ffffff;
//}

@media screen and (min-width: 750px) {

  .background-layout{
    background-image: url('../../assets/img/bg04.jpg');
  }
}
